<div class="cols">
    <mat-card>
      <mat-card-title>FEEDBACK</mat-card-title>
      <mat-card-content>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>Sr. No.</th>
              <th>Time</th>
              <th>Name</th>
              <th>Feedback</th>
              <th>Actions</th>
            </tr>
            <app-spinner [isLoading]="feedbacks?.isLoading"></app-spinner>
            <tr *ngFor="let feedback of feedbacks?.items;let i = index">
              <td class="startEndTd">{{ i+1 }}</td>
              <td class="otherTd">{{ feedback?.time| date:'dd/MM/YYYY HH:mm:ss'}}</td>
              <td class="otherTd">{{ feedback?.user?.name| titlecase}} </td>
              <td class="otherTd">{{ feedback?.feedback| titlecase}} </td>
              
              
              <td class="action">
                <a mat-button color="primary" [routerLink]="[feedback.id]">
                 Reply
                </a>
               
              </td>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  