



.card {
    width: 76%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    left: 1%;
    margin-top: 14px;
}

.h1, h1 {
    font-size: 14px;
    margin-left: 13px;
    margin-top: 12px;
    color: white;
}
img.logo2 {
    height: 28px;
}
img.logo3 {
    height: 28px;
    margin-left: 23px;
}
/* input#search {
    float: right;
    margin-right: -4px;
    margin-top: 13px;
}

img#srch {
    height: 30px;
    float: right;
    margin-right: -33%;
    margin-top: 13px;
} */

button, select {
    text-transform: none;
    height: 33px;
    width: 164px;
    margin-top: 8px;
    margin-left: 5px;
}
img.del {
    width: 21%;
}

img.editt {
    width: 21%;
}

td {
    width: 17%;
}

.sortbtn  {
    
    color: white;
    background: #534278;
    border-color: #534278;
    float: right;
    height: 29px;
    width: 11%;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #534278;
    border-color: #534278;
   
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: gray;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}




#white{
    
        background-color: white;
        margin-left: 53px;
        padding: 14px 14px 14px 14px;
    
}
img.edit {
    width: 3%;
    margin-top: -49px;
    float: right;
    margin-right: -44px;
    /* margin-left: 63px; */
}
img.img3 {
    width: 27px;
    margin-top: -5px;
    margin-left: -31px
}
img.logo1 {
    border: 1px solid #504277;
}
.thumbnail{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
p.rating {
    font-weight: bolder;
    margin-top: 34px;
    margin-bottom: 2px;
}
p.rating1 {
    font-weight: bolder;
    margin-top: 9px;
    margin-bottom: 2px;
}
img.imgtxt {
    width: 26px;
    margin-left: -17px;
    margin-top: -4px;
}
img.imgtxt1 {
    width: 29px;
    margin-left: -11px;
    margin-top: -2px;
}
input.txtbox2 {
    width: 77%;
    border: 1px solid #504277;
    padding-left: 12px;
    /* float: right; */
   
}
select {
    width: 76%;
    border-color: #504277;
    /* float: right; */
}

p.rating2 {
    margin-left: 56px;
    margin-bottom: 7px;
    margin-top: 53px;
    font-weight: bolder;
}
input.txtbox3 {
    float: right;
    width: 693px;
    border: 2px solid #504277;
    padding-left: 6px;
    padding: 23px;
    background-color: #ECE9F0;
}
textarea {
    margin-top: 34px;
    margin-left: 59px;
    width: 94%;
    border: 1px solid #504277;
}
div.static {
    position: static;
    border: 2px solid #504277;
    height: 200px;
    width: 705px;
    margin-top: 114px;
    margin-left: 59px;
    overflow: auto;
}
img.imgbox {
    padding: 9px;
}
input.txtbox {
    border: 1px solid #504277;
}
input.txtbox1{
    border: 1px solid #504277;
}
button.btn.btn-primary {
        position: relative;
        left: 82%;
        bottom: 9px;
        border: 1px solid #504277;
        color: white;
        background-color: #504277;
        width: 85px;
}



input.qus {
    width: 77%;
    /* float: right; */
    /* margin-left: 89px; */
    border: 1px solid #504277;
}
p.line1 {
    margin-left: 1%;
    margin-top: 27px;
    font-weight: 500;
}
ul {
    color: #504277;
    margin-left: 144px;
}